<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
   <div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Account Activity</h3> 
    
        </div>
        
	</div>
    <div class="div">
		<a href="#/contribution" menu-close style="text-decoration:none ;color:black">
			<img src="img/contribute2.jpg" style="height: 100px; width: 100px;">
			<p>Contributions</p>
		</a>
    </div>
    <div class="div">
		<a href="#/disbursement" menu-close style="text-decoration:none ;color:black">
			<img src="img/disbur.png" style="height: 100px; width: 100px;">
			<p>Disbursements</p>
		</a>
    </div>
 
      
   <div style="height: 200px;"></div>
    
  </ion-content>
</ion-view>