<ion-view>
<ion-content>

<div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > Available Balance</h3>
        </div>
        
      </div>
     
      
       <div class="card">
        <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px";>Bicycle FSA</h3>
        <div style="margin-left:20px; margin-top:15x";>
            
                   <p><b>Annual Election</b></p>
				   <p>$240.00</p>
				   <p><b>Available Balance</b></p>
				   <p>$240.00</p>
        </div>
      </div>
    
      <div class="card">
         <h3 style="color: #b71c1c;font-weight: bold; margin-left:20px; margin-top:10px";>Transit FSA</h3>
           <div style="margin-left:20px; margin-top:15x";>
	
             <p><b>Annual Election</b></p>
             <p>$600.00</p>
			
             <p><b>Available Balance</b></p>
             <p>$600.00</p>      
          </div>
     
      </div>
	  

</ion-content>
</ion-view>