<ion-view>
    <ion-content>
       
       <div class="row">
			<div class="col col-center">
			  <h3 class="h"><i class="ion ion-arrow-left-a" ng-click="backcontrol()"></i>  Contact Us</h3> 
		
			</div>
        
		</div> 
        <br>
        <div class="card">
   <div class="item item-avatar" style="background-color: #aebcd7">
      <img src="img/mobile.png">
        <br>
      <h3 style="text-align: center;color: black;" > 1 800 617 4729</h3>
   </div>

      </div>
        
         <div class="card">
   <div class="item item-avatar" style="background-color: #aebcd7">
      <img src="img/contacts.png">
        <br>
        
      <p style="text-align: center;font-size:10px;color: black; ">CustomerService@SterlingAdministration.com</p>
   </div>

      </div>
       
        
           </ion-content>
</ion-view>