<ion-view  >
  <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>  
	<div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Contibutions Activity</h3> 
    
        </div>
        
	</div>  
   <div class="div">
		<a href="#/scheduledcontribute" menu-close style="text-decoration:none ;color:black">
			<img src="img/schedule.jpg" style="height: 100px; width: 100px;">
			<p>Scheduled Contributions</p>
		</a>
    </div>
     <div class="div">
		<a href="#/recent" menu-close style="text-decoration:none ;color:black">
			<img src="img/last5.jpg" style="height: 100px; width: 100px;">
			<p>Last 5 contributions</p>
		</a> 
    </div>
 <div style="height: 200px;"></div>
  </ion-content>
</ion-view>
