<ion-view hide-nav-bar="false" >
   <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
     <div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Disbursement Activity</h3> 
    
        </div>
        
	</div>
   <div class="div"> 
		<a href="#/scheduleddisbursement" menu-close style="text-decoration:none ;color:black">
			<img src="img/money2.jpg" style="height: 100px; width: 100px;">
			<p>Scheduled Disbursement</p>
		</a>
    </div>
     <div class="div">
		<a href="#/recentdisburse" menu-close style="text-decoration:none ;color:black">
			<img src="img/last5dis.png" style="height: 100px; width: 100px;">
			<p>Last 5 Disbursement </p>
		</a>
    </div>
	 <div style="height: 200px;"></div>
  </ion-content>
</ion-view>