<ion-view>
  <style>
   
    .div{
      text-align: center;
      padding: 03px;
    }
     </style>
  <ion-content>
   <h3 class="h" > <strong> Flexible Spending Account</strong></h3>
    <div class="div"> 
		<a href="#/app/information" menu-close style="text-decoration:none ;color:black">
			<img src="img/inform.png" style="height: 100px; width: 100px;">
			<p>Account Information</p>
		</a>
    </div>
     <div class="div"> 
		<a href="#/app/availablebalance" menu-close style="text-decoration:none ;color:black">
			<img src="img/bal.png" style="height: 100px; width: 100px;">
			<p>Available Balance</p>
		</a>
    </div>
      <div class="div"> 
		<a href="#/app/recentcontribute" menu-close style="text-decoration:none ;color:black">
			<img src="img/activity.jpg" style="height: 90px; width: 90px;">
			<p>Recent Account Activity</p>
		</a>
    </div>
       <div class="div"> 
		<a href="#/app/new" menu-close style="text-decoration:none ;color:black">
			<img src="img/new.jpg" style="height: 90px; width: 90px;">
			<p>New Claim Request</p>
		</a>
    </div> 
   
    
  </ion-content>
</ion-view>
