<ion-view  style="background-color:#DEDEDE";>
	<ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
		<div class="padding" >
			<div class="list">
				<a class="item item-avatar" href="#information">
					<img src="img/make.png">
					<div style="font-size:20px">Account Information</div>
				</a>
			</div>
			<div class="list">
				<a class="item item-avatar" href="#availablebalance">
				<img src="img/make.png">
				<div style="font-size:20px"> Available Balance</div>
				</a>
			</div>
			
			<div class="list">
				<a class="item item-avatar" href="#recent">
				<img src="img/trans.png">
				<div style="font-size:20px">Recent Account Activity</div>
				</a>
			</div>
			
			<div class="list">
				<a class="item item-avatar" href="#new">
				<img src="img/active.png">
				<div style="font-size:20px"> New Claim Request</div>
				</a>
			</div>
			<!--
			This bellow coding used for shwoing all the content 
			-->
			<div style="height: 200px;"></div>
			
		</div>
  </ion-content>
</ion-view>
