<ion-view>
<ion-content style="background-color:#bad6f1">
<h5 class="image"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i>  Health Savings Account Statement {{date.startDate}} to {{date.EndtDate}}</h5>
<div class="card" >
  <div class="item item-text-wrap" style="background-color:#f0f0f0">
  <h4> You are currently enrolled in single coverage</h4>
  <p>Based on this coverage you may be eligible to contribute </p>
  <p>an additional <dark>$2,285.04 </dark> for the 2016 tax year</P>
  --------------------------------------
  <p>2016 IRS Annual Contribution Limits</p>
  <div class="row no-padding">
  <div class="col col-50">
  <p> single coverage</p>
  </div>
  
  <div class="col col-50">
   <p>$3,350.00</p>
  </div>
  </div>
  
  <div class="row no-padding">
  <div class="col col-50">
   <p>Family coverage</p>
  </div>
  
  <div class="col col-50">
   <p>$5,350.00</p>
  </div>
  </div>
  
  <div class="row no-padding">
  <div class="col col-50">
   <p>* catch-up contribution</p>
  </div>
  
  <div class="col col-50">
  <p>$1,00.00</p>
  </div>
  </div>
  <div class="row">
  <p>*If you are older,you can make an additional catch-up contribution</p>
  </div>
  </div>
</div>

<div class="card">
<div class="item item-divider">
<h4 class="image"> Account summary</h4>
</div>

<div class="row no-padding">
<div class=" col col-75">


Beggining Account Balance

</div>
<div class=" col col-25">

$7,481.99

</div>
</div>

<div class="row no-padding">
<div class="col col-75">
Ending Account Balance
</div>
<div class="col col-25">
$7,481.99
</div>
</div>

<div class="row no-padding">
<div class="col col-75">
Available for Disbursement*
</div>
<div class="col col-25">
$7,481.99
</div>
</div>
<div class="row no-padding">
<div class="col col-75">
Interest Earned
</div>
<div class="col col-25">
$0.00
</div>
</div>
<div class="row no-padding">
<div class="col col-75">
Qualified Disbursements
</div>
<div class="col col-25">
$0.00
</div>
</div>
<div class="row no-padding">
<div class="col col-75">
Non-Qualified Disbursements
</div>
<div class="col col-25">
$0.00
</div>
</div>
<div class="row no-padding">
<div class="col col-75">
Outside Investment Balance
</div>
<div class="col col-25">
$0.00
</div>
</div>

<div class="item item-divider">

*Excludes $20 required minimum balance

</div>
 </div>
  
 </div>
 <h5 class="image">2016 Activity Summary</h5>
 
 <div class="row no-padding responsive-sm">
 <div class="col col-50">
 <div class="list">
 <div class="item">
 <div class="row">
 <div class="col">
 Total Contributions:
 </div>
 <div class="col">
 $00
 </div>
 </div>
 
<div class="row no-padding responsive-sm">
<div class="col col-50">
<p class="image">Employer Contribution:</p>
<p class="image">$0.00</p>
</div>
<div class="col col-50">
<p class="image">Employee Contribution:</p>
<p class="image">$0.00</p>
</div>
</div>
</div>
</div>
</div>

<div class="col col-50">
 <div class="list">
 <div class="item">
 <div class="row">
 <div class="col col-50">
 Total Disbursements:
 </div>
 <div class="col col-50">
 $00
 </div>
 </div>
 
<div class="row no-padding responsive-sm">
<div class="col col-50">
<p class="image">Non-Qualified Disbursements:</p>
<p class="image">$0.00</p>
</div>
<div class="col col-50">
<p class="image">Qualified Disbursements:</p>
<p class="image">$0.00</p>
</div>
</div>
</div>
</div>
</div>

</div>

<div class="row">
<h4>Activity</h4>
</div>
<div class="row no-padding responsive-sm">
<div class="col col-10">
<div class="list">
<div class="item">

<p class="image">Date</p>

</div>
</div>
</div>

<div class="col col-10">
<div class="list ">
<div class="item">

<p class="image">Code</p>

</div>
</div>
</div>

<div class="col col-20">
<div class="list">
<div class="item">

<p class="image">Description</p>

</div>
</div>
</div>

<div class="col col-15">
<div class="list">
<div class="item">

<p class="image">Amount</p>

</div>
</div>
</div>

<div class="col col-20">
<div class="list">
<div class="item">

<p class="image">Account Balance</p>

</div>
</div>
</div>

<div class="col col-20">
<div class="list">
<div class="item">

<p class="image">Fee Balance</p>

</div>
</div>
</div>


</div>


<div class="row no-padding responsive-sm">
<div class="col col-65">
<div class="list">
<div class="item">

<p class="image">Beginning Balances</p>

</div>
</div>
</div>

<div class="col col-20">
<div class="list">
<div class="item">

<p>$7,481.99</p>

</div>
</div>
</div>

<div class="col col-20">
<div class="list">
<div class="item">

<p>$0.00</p>

</div>
</div>
</div>
</div>

<div class="row no-padding responsive-sm">
<div class="col col-65">
<div class="list">
<div class="item">

<p class="image">Ending Balances</p>

</div>
 </div>
</div> 

<div class="col col-20">
 <div class="list">
<div class="item "> 

<p>$7,481.99</p>

</div>
 </div>
</div>
 
<div class="col col-20">
 <div class="list">
<div class="item">
 
<p>$0.00</p>

</div>
  </div>
</div>
 </div>

<div class="row no-padding responsive-sm">
<div class="list">
<div class="item">
(CY=Current Year Contribution;PY=Prior Contribution;Q=Qualified Expense;NQ=Non-Qualified Expense)
</div>
</div>
</div>

</ion-content>
</ion-view>