<ion-view>
  

    <ion-content >
      <div class="row">
        <div class="col col-center">
          <h3 class=""><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Account Information</h3> 
    
        </div>
        
      </div>
     <div class="card"  >
     <div  style="margin-left:20px; margin-top:10px";">
            <p><b>FAS Effective Date</b></p>
			<p>155{{accnumber.EFFECTIVE_DATE}}</p>
            <p><b>Account Number</b></p>
			<p>155{{accnumber.ACC_NUM}}</p>
     </div>
     </div>
    
  </ion-content>
</ion-view>
