<style>
.home .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  margin-top: -50px; /* the height of the centered content */
  text-align: center;
}
.home .scroll {
  display: table-cell;
  vertical-align: middle;
}
</style>
<ion-view class="home" style="background-color:#E5E5E5;">

  <ion-content  >
	<div >
		
		<div class="image">
			<img src="img/logo-icon.png" style="height:100px;width:100px">
			<br>
		 
			<img class="" src="img/ster.jpg" style="height:30px;width:100px;">
		 
		</div>
		<br>
		<div style="padding:50px;">
			<div class="list list-inset" style="border-radius:10px;">
				<label class="item item-input" style="background-color:#F3F3F3;border-radius:10px">
					<i class="icon ion-ios-person-outline"></i>
					<input type="text" placeholder="Username" ng-model="loginData.username" style="padding:10px; ">
				</label>
			</div>
			<div class="list list-inset" style="border-radius:10px">
				<label class="item item-input"  style="background-color:#F3F3F3;border-radius:10px">
					<i class="icon ion-ios-unlocked-outline"></i>
				<input type="password" placeholder="Password"  ng-model="loginData.password" style="padding:10px;">
			  </label>
			</div>
<!-- 
       <div class="list">
	  
        <label class="item item-input item-floating-label" >
          <span class="input-label" style="color:#11c1f3; font-wieght:bold;">Username</span>
		  
          <input type="text" ng-model="loginData.username" class="input-box" placeholder="Username" style="color:#444;">
		 
		  </label> 
		 
        <label class="item item-input item-floating-label">
          <span class="input-label" style="color:#11c1f3;font-wieght:bold;">Password</span>
          <input type="text" ng-model="loginData.password" class="input-box" placeholder="Password" style="color:#444;">
		
        </label>
      </div> 
	   -->
       
			<div class="row">
				<div class="col col-95">
					<button class=" button-block" type="submit" ng-click="logIn(loginData)"  style="background-color: #547AAC;color:#fff;height:35px;font-size:15px;border-radius:8px">LOGIN</button>
				</div> 
			</div>
		</div>
	 </div>
	
  </ion-content>
</ion-view>
