 
<ion-view >
  <style>
    
    .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content>
	<div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i> Make Disbursement</h3> 
    
        </div>
        
      </div>
    <div class="div"> 
		<a href="#/payme" menu-close style="text-decoration:none ;color:black">
			<img src="img/payme.jpg" style="height: 100px; width: 100px;">
			<p>Pay Me</p>
		</a>
    </div>
     <div class="div">
		<a href="#/payprovider" menu-close style="text-decoration:none ;color:black">
			<img src="img/pay2.png" style="height: 100px; width: 100px;">
			<p>Pay Provider</p>
		</a>
    </div>
   <div style="height: 200px;"></div>
  </ion-content>
</ion-view>
