<ion-view>
  <ion-content>
     <div class="row">
        <div class="col col-center">
          <h3 class=""><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > New Claim-Bicycle</h3> 
    
        </div>
        
      </div>
     
      <div class="card">
      <p style="color: red">You do not have a bank account on record.You must add a bank account by logging into the sterlinghsa.com to schedule disbursement.</p>
      </div>
      
      <div>
        
          
          <div class="list list-inset">
            <label class="item item-input" style="background-color: #efefef">
             <div class="row">
        <div class="col col-60">
         <h2 style="color: green;">Available Balance</h2> 
        </div>
         
          <div class="col col-25">
         <h2 style="color: green;">$00.00</h> 
        
      
        </div>
       
      </div>
     
            </label>
           </div>
          
      <div class="list list-inset">
        <label class="item item-input item-select" >
          <div class="input-label">
            select
             <select style="background-color: #efefef">
            
            <option selected>Select Payee</option>
            <option></option>
          </select>
        
            </div>
          
         </label>
      </div>
    
    
    <div class="list list-inset">
        <label class="item item-input" style="background-color: #efefef">
            <!--<span class="input-label">Enter Amount</span>-->
            <input type="text" placeholder="Enter Amount">
            
        </label>
      </div>
    
    <div class="list list-inset">
        <label class="item item-input" style="background-color: #efefef" >
            <!--<span class="input-label">Transaction Date*</span>-->
            <input type="text" placeholder="Service start Date(MM/DD/YY)">
            
        </label>
      </div>
    
     <div class="list list-inset">
        <label class="item item-input" style="background-color: #efefef">
            <!--<span class="input-label">Description</span>-->
            <input type="text" placeholder="Service End Date(MM/DD/YY)">
            
        </label>
      </div>
   
    <div class="list list-inset">
        <label class="item item-input" style="background-color: #efefef">
            <!--<span class="input-label">Description</span>-->
            <input type="text" placeholder="Description">
            
        </label>
      </div>
   
    
    <div class="row">
        <div class="col center text-center">
              <button class="button button-small" style="background-color: #aebcd7;">Upload Receipt</button>

        
     </div>
      </div>
  
    
   <div class="row">
        <div class="col center text-center">
              <button class="button button-calm " style="background-color: #bb680b;color: white">Submit Claim</button>

        
     </div>
      </div>
    </ion-content>
</ion-view>
