<ion-view>
  <style>  
    .div{
      text-align: center;
      padding: 05px;
    }
     </style>
  <ion-content >
   <h3 class="h" > <strong> Home</strong></h3>
    <div class="div"> 
		<a href="#/app/hsa" menu-close style="text-decoration:none ;color:black">
       <img src="img/hsablu.jpg" style="height: 100px; width: 100px; background-color:#e8eaf6;">
       <p>Health Savings Account<br>Available Balance{{account_type.BALANCE}}</p>
      </a>
    </div>
     <div class="div"> 
		<a href="#/app/flexible" menu-close style="text-decoration:none ;color:black">
			<img src="img/flex.jpg" style="height: 100px; width: 100px;">
			<p>Flexible Spending Account</p>
		</a>
    </div>
     <a href="#app/contact"  style="text-decoration:none ;color:black"><div class="div"> 
       <img src="img/cont.png" style="height: 100px; width: 100px;">
       <p>Contact Us</p>
    </div></a> 
   
    
  </ion-content>
</ion-view>
