<ion-view>
   
       <ion-content >
           <h3 class="" > <strong> <i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > Recent Contributions</strong></h3>
           <div class="div1">
            
           
           <div class="row">
             <p>{{recentcontribute}}</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
           </div>
           <div class="div1">
            
          
           <div class="row">
             <p>11/20/2014</p>
           </div>

           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            </div>
           <div class="div1">
           
           <div class="row">
             <p>11/06/2014</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            
           </div>
 <div class="div1">      
           <div class="row">
             <p>10/23/2014</p>
           </div>
                
    

            
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
            </div>
 <div class="div1">
            
          
           <div class="row">
             <p>10/09/2014</p>
           </div>
            
           <div class = "row">
   <div class = "col col1 col-75">Payroll Contributions-DCA</div>
   <div class = "col col2">$10.00</div>
</div>
 </div>

       </ion-content>
    </ion-view>