<ion-view>
   
       <ion-content>
           <h3 class="" > <strong> <i class="ion ion-arrow-left-a" onclick="window.history.back();"></i > Recent Disbursement</strong></h3>
           <div class="div1">
            
           
           <div class="row">
             <p>12/19/2011</p>
           </div>
          
           <div class = "row">
   <div class = "col col1 col-75">ePayment-FSA</div>
   <div class = "col col2">$623.55</div>
</div>
           </div>
           <div class="div1">
            
          
           <div class="row">
             <p>08/29/2011</p>
           </div>

           <div class = "row">
   <div class = "col col1 col-75">ePayment-FSA</div>
   <div class = "col col2">$708.55</div>
</div>
            </div>
           </ion-content>
             </ion-view>