<ion-view >
    <style>
    
  </style>
  <ion-content style="background-color: rgb(20,20,20);">
    <h1 class="col" ><b>Car</b></h1>
    <h1 class="trade">trading</h1>
    <br>
   
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Full name">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
           
      
      </div>
       
     <div class="row"> 
         <button class="button button-full button-calm"  type="submit" ng-click="regist()">Sign Up</button>
      </div>
       
        
        <p class="com">Already Have An Account ?</p>
        <br>
        <a href="" class="lin"><p style="color:#00CCFF; text-align: center;" ng-click="log()">Log in</p></a>
        
   
     
  </ion-content>
</ion-view>