<ion-view>
    <head>
  
    <style>
        .col11{
			background:#aebcd7;
			padding: 10px;
			text-align: center;
		}
		.col12{
			background:#fdf2e9;
			padding: 10px;
			text-align: center;
			
		}
		.p{
			color:#5dade2;
		}
    </style>
    </head>
    <ion-content>
	<div class="row">
        <div class="col col-center">
          <h3 class="h"><i class="ion ion-arrow-left-a" onclick="window.history.back();"></i>   Scheduled Contributions</h3> 
    
        </div>
        
	</div> 
			<div class="div1" ng-repeat="data in schedule_list">     
				<div class="row">
					<p class="p">{{data.TXN_DATE}}</p>
				</div>
				<div class = "row">
					<div class = "col col11 ">{{data.TXN_ID}}</div>
					<div class="col col12">{{data.AMOUNT}}</div>
					<div class = "col col11">{{data.STATUS}}</div>
				</div>
			</div>
			<div style="height: 200px;"></div>
    </ion-content>
</ion-view>